<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head.ejs', {estilo: 'detalle', titulo: 'Product Detail'}) %>

<body>
    <%- include ('../partials/header.ejs') %>

    <main class="mainDetail">
        <section class="contenedorDetalle">
            <div class="contenedorImagenDetalle">
                <picture class="imagenDetalle">
                    <img src="/products/<%= product.image %>" alt="">
                </picture>
                <p class="nombreDetalle"></p>
            </div>
            <section class="fichaDetalle">
                <div class="nombreProd">
                    <h2 class="nombreCamisa">
                        <%= product.name %>
                    </h2>
                </div>
                <section class="precios">
                    <% let precio=product.price; let descuento=product.discount; %>
                    <% if (descuento> 0) { %>
                        <p class="precioUno">$<%= product.price %></p>
                        <% } %> <!-- else cambia la clase? -->
                        <p class="precioDos">$<%= ((100-descuento) * product.price) / 100 %></p>
                        <% if (descuento> 0) { %>
                        <p class="descuento">(<%= descuento %>% off)</p>
                        <% } %> <!-- else cambia la clase? -->
                </section>
                <section class="detalle">
                    <p><%= product.description %></p>
                    <p>Categoría: <%= product.category %></p>
                    <% if (product.sizes.length > 0) { %>
                        <p>Talle: <select name="size" id="">
                            <% product.sizes.forEach(element => { %>
                            <option value=""><%= element.size %></option> 
                            <% }) %>
                        </select> </p>          
                    <% } %>
                </section>
                <section class="finalDetalle">
                    <div class="botonesAnteultimos">
                        <p class="cantidadUnidades">Unidades:</p>
                        <div class="inputUnidades">
                            <label for="unidades"></label>
                            <input type="number" id="unidades" name="unidades" value="1" required>
                        </div>
                        <button class="añadir">Añadir al carrito</button>
                    </div>
                    <% if (locals.user && locals.user.admin == 1) { %>
                    <div class="botonesFinales">
                        <nav class="editarProducto">
                            <button><a class="editProdA"href="/products/editar/<%= product.id %>">Editar</a></button>
                        </nav>
                        <form method="POST" action="/products/delete/<%= product.id %>?m=DELETE" class="eliminarProducto">
                            <button type="submit" class="botonEliminar">Eliminar</button>
                        </form>
                    </div>
                    <% } %> 
                </section>
            </section>
        </section>
    </main>
    <%- include ('../partials/footer.ejs') %>
</body>