<!DOCTYPE html>
<html lang="en">


    <%- include('../partials/head.ejs', {estilo: 'list', titulo: 'Lista'})  %>


<body>
    <%- include ('../partials/header.ejs') %>
    
    <main class="fotosPrincipales">
    <% if (products.length > 0) { %>
        <h3 class="resultados"> <%= search == "" ? "" : "RESULTADOS DE LA BUSQUEDA" %> </h3>
        <ul class="lista-producto">
            <% products.forEach(element => { %>
                <%- include('../partials/product.ejs',{element:element})  %>
                    <% }) %>
        </ul>
        <% } else { %>
        <div class="noHay">
            <h2>No hay productos!</h2>
            <button class="volver"><a class="aVolver" href="/products/list">Volver</a></button>
        </div>
            <% } %>
            <% if (locals.user && locals.user.admin == 1) { %>  
                <nav class="add-product">
                    <button><a href="/products/crear" class="newProduct">Nuevo producto</a></button>
                </nav>
            <% } %>
    </main>
    <%- include('../partials/footer.ejs', {estilo: 'footer', titulo: 'Lista'})  %>
</body>
    
</html>