<!DOCTYPE html>
<html lang="en">

<%- include ('partials/head.ejs', {estilo: 'index', titulo: 'Kechian'}) %>

<body>
    <%- include ('partials/header.ejs') %>
    <main>

    <section>
        <% if (locals.archivosPrincipales && archivosPrincipales.length > 0) { %>
            <ul class="lista-producto">
                <% archivosPrincipales.forEach(product => { %>
                    <%- include('./partials/index.ejs',{product:product})  %>
                <% }) %>
            </ul>
            <% } else if (locals.varFilter && varFilter.length > 0) {} else { %>
                    <h2>
                        <a>No hay productos <a href="/productos">Volver</a>
                    </h2>
                    <% } %>
                
                
    </section>

    <section>
        <% if (varFilter.length > 0) { %>
            <ul class="lista-producto">
                <% varFilter.forEach(element => { %>
                    <%- include('./partials/index-filtro.ejs',{element:element})  %>
                <% }) %>
            </ul>
        <% } %>
    </section>

    <section>
        <a href="/lisos"><h2 class="titulo-filtro">Productos Lisos</h2></a>

        <a href="/estampados"><h2 class="titulo-filtro">Productos Estampados</h2></a>
    </section>

    </main>
    <%- include ('partials/footer.ejs') %>

</body>

</html>