<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head.ejs', {estilo: 'crear', titulo: 'Crear nuevo producto'}) %>

    <body>
        <%- include ('../partials/header.ejs') %>

            <main>
                <div class="c1">
                    <form class="c2" action="/products/guardar" method="POST" enctype="multipart/form-data">
                        <p class="crea"> Creá un nuevo producto </p>

                        <div>
                            <label class="elemento" for="nombre-producto"></label>
                            <input class="grl-top" type="text" id="name" name="name" placeholder="Nombre del producto" value="<%= data? data.name : "" %>" >
                        </div>

                        <div>
                            <label class="elemento" for="descripción"></label>
                            <input class="grl" type="text" id="descripción" name="description" placeholder="Descripción" value="<%= data? data.description : "" %>" >
                        </div>


                        <div>
                            <label class="elemento" for="categoria"></label>
                            <select class="grl" type="text" id="categoria" name="category" placeholder="Categoría">
                                <option value="estampada">Estampada</option>
                                <option value="lisa">Lisa</option>
                            </select>
                        </div>

                        <div>
                            <label class="elemento" for="imagen"></label>
                            <input class="grl" type="file" id="imagen" name="image" >
                        </div>

                        <div>
                            <label class="elemento" for="talle"></label>
                                <% sizes.forEach(element => { %>
                                    <input class="grl" type="checkbox" id="talle" name="sizes" value="<%= element.id %>"> <span><%= element.size %></span>
                                <% }) %>
                        </div>

                        <div>
                            <label class="elemento" for="precio"></label>
                            <input class="grl" type="number" id="precio" name="price" placeholder="Precio" value="<%= data? data.price : "" %>">
                        </div>

                        <div>
                            <label class="elemento" for="descuento"></label>
                            <input class="grl" type="number" id="descuento" name="discount" placeholder="Descuento"  value="<%= data? data.discount : "" %>">
                        </div>


                        <div class="agrega">
                            <button type="submit">Guardar producto</button>
                        </div>


                    </form>
                </div>
                <script src="/validationsFront/productCreateValidations"></script>
            </main>


            <%- include ('../partials/footer.ejs') %>

    </body>

</html>