<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head.ejs', {estilo: 'modificar', titulo: 'Modificar producto'}) %>

<body>
        <%- include ('../partials/header.ejs') %>

            <main>
                <div class="c1">
                    <form  action="/products/actualizar?m=PUT" method="POST" class="c2" enctype="multipart/form-data">

                        
                        
                        <p class="modificar"> Modificar producto </p>
                        
                        <input type="hidden" name="id" value="<%= product.id %>  ">
                        <div>
                            <label class="elemento" for="nombre-producto"></label>
                            <input class = "grl-top" type="text" id="nombre-producto" name="name" value="<%= product.name %> " >
                        </div>

                        <div>
                            <label class="elemento" for="descripción"></label>
                            <input class="grl" type="text" id="descripción" name="description" value="<%= product.description %>" >
                        </div>


                        <div>
                            <label class="elemento" for="categoria"></label>
                            <input class="grl" type="text" id="categoria" name="category" value="<%= product.category %>" >
                        </div>

                        <div>
                            <label class="elemento" for="imagen"></label>
                            <input class="grl" type="file" id="imagen" name="image" value="<%= product.image %>" >
                        </div>

                        <div>
                            <label class="elemento" for="talle"></label>
                            <select class="grl" type="number" id="talle" name="size" value="<%= product.size %>" >
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                        <option value="extraLarge">Extra large</option>    
                            </select><br>
                        </div>

                        <div>
                            <label class="elemento" for="precio"></label>
                            <input class="grl" type="number" id="precio" name="price" value="<%= product.price %>" >
                        </div>

                        <div class="modificar">
                            <button type="submit">Guardar</button>
                        </div>

                    </form>
                </div>
            </main>
            <%- include ('../partials/footer.ejs') %>

    </body>

</html>


