<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head.ejs', {estilo: 'register', titulo: 'Modificar Usuario'}) %>

<body>
    <%- include ('../partials/header.ejs') %>
    <main>
        <div class="caja1">
            <div class="formularioUsuario">
                <form action="/user/update/<%= user.id %>?m=PUT" method="POST" enctype="multipart/form-data">
                    <p class="modificarUsuario"> Modificar Usuario </p>

                    <input type="hidden" name="id" value="<%= user.id %>">

                    <p class="informacionPersonal"> Información personal: </p>

                    <label for="nombre1"></label>
                    <input type="text" id="nombre1" name="firstName" value="<%= user.firstName %>"><br>

                    <label for="apellido1"></label>
                    <input type="text" id="apellido1" name="lastName" value="<%= user.lastName %>"><br>

                    <label for="ubicacion"></label>
                    <input type="text" id="ubicacion" name="location" value="<%= user.location %>"><br>

                    <p class="informacionCuenta"> INFORMACIÓN DE CUENTA: </p> <br>

                    <label for="imagen">Imagen de perfil:</label>
                    <input type="file" id="imagen" name="image" value="<%= user.image %>"><br>

                    <div class="botonesCrearInicio1">
                        <button type="submit" class="boton1">Guardar</button><br>
                    </div>
                </form>

                <form class="botonesCrearInicio1" method="POST" action="/user/delete/<%= user.id %>?m=DELETE">
                    <button type="submit" class="boton1">Eliminar</button>
                </form>
            </div>
        </div>
            
    </main>

    <%- include ('../partials/footer.ejs') %>
</body>

</html>