<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head.ejs', {estilo: 'perfilUsuario', titulo: 'Perfil de Usuario'}) %>

<body>
    <%- include ('../partials/header.ejs') %>
    <main class="mainPerfilUsuario">
        <section class="contenedorPerfilUsuario">
            
            <picture class="contenedorImagenUsuario">
                <img class="imagenUsuario" src="/users/<%=user.image%>" alt=""> 
            </picture> 

            <section class="fichaPerfilUsuario">
                <div class="tituloPerfilUsuario">
                    <p class="perfilUsuario"><%= user.firstName%> <%= user.lastName%> </p>
                </div>

                <div class="titulo">
                    <p class="nombreUsuario">Nombre:</p>
                    <h1 class="datoUsuario"><%= user.firstName%></h1>
                </div>

                <div class="titulo">
                    <p class="apellidoUsuario">Apellido:</p>
                    <h1 class="datoUsuario"><%= user.lastName%></h1>
                </div>

                <div class="titulo">
                    <p class="locacionUsuario">Ubicación:</p>
                    <h1 class="datoUsuario"><%= user.location%></h1>
                </div>

                <div class="titulo">
                    <p class="emailUsuario">Email:</p>
                    <h1 class="datoUsuario"><%= user.email%></h1>
                </div>
                
                <div" id="botonConfig">
                    <button type="submit" class="perfilConfig">Configurar Perfil</button>
                    <button type="submit" class="NO ASIGNADA"></button>
                </div>   
            
            </section>
            
            
            

        </section>
    </main>         
    
    <%- include ('../partials/footer.ejs') %>
</body>